<TITLE>XMixer</TITLE>
	<LINK href="xmixer.css" rel="STYLESHEET">
	<META name="description" content="Xaw based soundcard mixer program for Linux">
	<META name="keywords" content="Linux, soundcard, mixer, xgmixer, gtk">
<BODY bgcolor=#ffffff text=#000000>
<ADDRESS>http://home.pages.de/~rasca/xmixer/</ADDRESS>
<HR>
<IMG align=left src=xmixer.png alt="XMixer" width=149 height=48>
<div align=center>
<H1>Version 0.9.4</H1>
<B>
<A href=http://www.gtk.org/>Gtk+</A> /
<A href=http://www.opengroup.org/tech/desktop/x/>Xaw</A>-based
soundcard mixer program for <A href="http://www.linux.org/">Linux</A>
(or other systems with an
<A href=http://www.4front-tech.com/ossfree/>OSS/Free</A>
sound driver or an OSS-ALSA emulation? - not tested!)<BR>
&copy; Rasca, Berlin - published under the <A href=COPYING>GNU GPL</A></B>
<P>
</DIV>
Source code:
<A HREF=../xmixer-0.9.4.tar.gz>xmixer-0.9.4.tar.gz</A> (~ 130 kb)
<BR>
Screen dumps: <A HREF=xaw_gui.png>Xaw GUI</A>, <A href=gtk_gui.png>Gtk+ GUI</A>
<P>
<B><A href=xmixer.html>Usage</A>: </B><BR>
<CODE>xmixer [-m &lt;device&gt; ] [ -q ] [ -n ] [ -D ] [ -V ] [ -d &lt;display&gt; ] [ -g &lt;geometry&gt; ]</CODE><br>
<CODE>xgmixer [-m &lt;device&gt; ] [ -q ] [ -n ] [ -D ] [ -V ] [ --display &lt;display&gt; ]</CODE>
<P>
<UL>
	<LH><B>Features:</B></LH>
	<LI>For every device which is supported by the soundcard you
		can change the volume via a slider. Unsupported devices are
		not shown.
	<LI>Select the input device(s) for recording.
	<LI>On startup a configuration file is read which restores device settings.
	<LI>With a menu option you can save the current settings for
		the next startup.
	<LI>Hide devices which you don't want to see.
	<LI>Batch support - just read and evaluate the settings in the
		configuration file, no X-server connection is needed.
</UL>
<P>
<UL>
	<LH><B>Installation:</B></LH>
	<LI>run <CODE>'configure'</CODE>,
	call <Code>'make'</code> and then
	call <code>'make install'</code>
	<LI>or use the included setup.tcl script
</UL>
<HR>
<ADDRESS>
<A href=/~rasca/>rasca</A>,
16. Nov 2000 - 09:09
</ADDRESS>

