/* xmixer CSS style file
 */

BODY {
	background: white;
	margin-top: 0.2em;
	margin-left: 0.8em;
}
A { text-decoration: underline; }
H1,H2,H3,H4,H5,H6 { color: #700060; }
EM { color: #660000; }
ADDRESS {
	font-style: italic;
	font-size: smaller;
}

